 body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	100%
}
body {
	background-image: url(/pics/bbblurry.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
font-family: sans-serif;
font-weight: 800;
color: white
}
h2 {
	font-family: sans-serif;
	font-weight: 200;
	color: white;
	font-size: 16px
}
h3 {
	font-family: sans-serif;
	font-weight: 200;
	color: white;
	font-size: 200px
}
.header {
display: grid;
grid-template-columns: 5fr 2.5fr 0.5fr;
border: 1px solid white;
margin: 20px 70px;
}
.toptext {
	display: flex;
	align-items: center;
}
.left {
	display:flex;
	align-items: center;
	padding-left: 5%;
}
.middle {
	display: grid;
	grid-template-rows: 1fr 1fr;

}
.toptop {
	display: grid;
	grid-template-columns: 1fr 2fr 2.2fr

	}
.topbottom {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr

		}
.btns {
	display: flex;
	align-items: center;
	border: 1px solid white;
	justify-content: center;
}
.maintop {
	display: flex;
	justify-content: space-between;
	margin-top: 8%;
	padding: 0px 200px
}
.maintopr {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px
}
.maintext {
display: flex;
	flex-direction: column;
	padding-left: 200px;
	padding-bottom: 100px
}
.border {
border-top: 1px solid white;
height: 15%;
width: 15%;
}
.bottominfo {
display: flex;
justify-content: space-around;
}
